/*!
 * Author: Nabil Enayet October 2015
 */

html {
  font-family: sans-serif;
  font:normal x-small verdana,arial,helvetica,sans-serif;
}

body {
  margin:0;
}

.ui-action {
  position: fixed;
  top:0;
  right:0;
  padding: 5px;
  background: url(../img/ditto.png);
  background-size: 70px;
  background-position: top left;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  cursor: pointer;
}

* {
  transition: 0.4s ease;
}
